@font-face{font-family:'Affogato';src:url('../fonts/Affogato-Regular.eot');src:url('../fonts/Affogato-Regular.eot?#iefix')format('embedded-opentype'),url('../fonts/Affogato-Regular.woff')format('woff'),url('../fonts/Affogato-Regular.woff2')format('woff2'),url('../fonts/Affogato-Regular.ttf')format('truetype'),url('../fonts/Affogato-Regular.svg')format('svg')}
@font-face{font-family:'Affogato';src:url('../fonts/Affogato-Bold.eot');src:url('../fonts/Affogato-Bold.eot?#iefix')format('embedded-opentype'),url('../fonts/Affogato-Bold.woff')format('woff'),url('../fonts/Affogato-Bold.woff2')format('woff2'),url('../fonts/Affogato-Bold.ttf')format('truetype'),url('../fonts/Affogato-Bold.svg')format('svg');font-weight:bold;font-style:normal}
@font-face{font-family:'Affogato-Black';src:url('../fonts/Affogato-Black.eot');src:url('../fonts/Affogato-Black.eot?#iefix')format('embedded-opentype'),url('../fonts/Affogato-Black.woff')format('woff'),url('../fonts/Affogato-Black.woff2')format('woff2'),url('../fonts/Affogato-Black.ttf')format('truetype'),url('../fonts/Affogato-Black.svg')format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Affogato-Medium';src:url('../fonts/Affogato-Medium.eot');src:url('../fonts/Affogato-Medium.eot?#iefix')format('embedded-opentype'),url('../fonts/Affogato-Medium.woff')format('woff'),url('../fonts/Affogato-Medium.woff2')format('woff2'),url('../fonts/Affogato-Medium.ttf')format('truetype'),url('../fonts/Affogato-Medium.svg')format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Affogato-Light';src:url('../fonts/Affogato-Light.eot');src:url('../fonts/Affogato-Light.eot?#iefix')format('embedded-opentype'),url('../fonts/Affogato-Light.woff')format('woff'),url('../fonts/Affogato-Light.woff2')format('woff2'),url('../fonts/Affogato-Light.ttf')format('truetype'),url('../fonts/Affogato-Light.svg')format('svg');font-weight:normal;font-style:normal}

/* Reset */
*,*:after,*:before{box-sizing:border-box}
:selection{background:transparent}
:-moz-selection{background:transparent}
[hidden]{display:none}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}
ol,ul{list-style:none}
html{font-family:'Affogato',sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizelegibility}
h1{font-size:2em;margin:0}
a:hover,a:active,a:focus{outline:0}
b,strong{font-weight:bold}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
html,body{height:100%}
html{font-size:62.5%}

/* Variables */
:root{
--trans-cbk:cubic-bezier(0.7,0,0.3,1);
--color-bck:#f9f8f4;
--color-txt:#56505a;
--color-all:#e84a5f;
--color-web:#4d95e1;
--color-fto:#37ba7a;
--color-ils:#f07050;
--color-otr:#c83771;
--color-hdv:#16b3c2;
--cmlor-all:#c82a3f;
--cmlor-web:#2d75c1;
--cmlor-fto:#179a5a;
--cmlor-ils:#d05030;
--cmlor-otr:#a81751;
--cmlor-hdv:#0093a2;
--cdlor-all:#a80a1f;
--cdlor-web:#0d55a1;
--cdlor-fto:#007a3a;
--cdlor-ils:#b03010;
--cdlor-otr:#880031;
--cdlor-hdv:#007382}

body{margin:0;font-size:1.6rem;line-height:1;font-family:"Affogato",sans-serif;background-color:var(--color-bck);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow-x:hidden;position:relative;top:0}
body.item-all div.intro-container{background-color:var(--color-all)}
body.item-web div.intro-container{background-color:var(--color-web)}
body.item-fto div.intro-container{background-color:var(--color-fto)}
body.item-ils div.intro-container{background-color:var(--color-ils)}
body.item-otr div.intro-container{background-color:var(--color-otr)}
body.item-hdv div.intro-container{background-color:var(--color-hdv)}

div.intro-container{top:0;bottom:0;left:0;right:0;margin:auto;width:100%;height:100%;position:fixed;z-index:100;opacity:1;transition:transform 1s var(--trans-cbk)}
svg.logo{width:112px;height:auto;position:absolute;display:block;top:0;bottom:0;left:0;right:0;margin:auto;transform-origin:50% 50%;transition:all 1s var(--trans-cbk)}

svg.logo.waiting{animation:waiting .5s linear infinite}
path#circle-bg,path#logo-fg{transform-origin:50% 50%;transform:scale(0,0)}
path#logo-fg{transition:opacity .5s ease-out,transform .5s var(--trans-cbk)}
path#circle-bg,path#circle-fg{fill:none;stroke-linecap:round}
path#circle-bg{stroke-width:2px;stroke-linecap:round;transition:transform .5s var(--trans-cbk)}
path#circle-fg{opacity:0;stroke-width:4px;transition:opacity .5s var(--trans-cbk)}

div.unload div.intro-container,div.loading div.intro-container{transform:translateY(0)}
div.loaded div.intro-container{transform:translateY(-100%)}

svg.loading path#logo-fg,svg.loading path#circle-bg{transform:scale(1,1)}
svg.loading path#circle-fg{opacity:1}

body.item-all path#circle-bg{stroke:var(--cmlor-all)}
body.item-web path#circle-bg{stroke:var(--cmlor-web)}
body.item-fto path#circle-bg{stroke:var(--cmlor-fto)}
body.item-ils path#circle-bg{stroke:var(--cmlor-ils)}
body.item-otr path#circle-bg{stroke:var(--cmlor-otr)}
body.item-hdv path#circle-bg{stroke:var(--cmlor-hdv)}

body.item-all path#circle-fg{stroke:var(--cdlor-all)}
body.item-web path#circle-fg{stroke:var(--cdlor-web)}
body.item-fto path#circle-fg{stroke:var(--cdlor-fto)}
body.item-ils path#circle-fg{stroke:var(--cdlor-ils)}
body.item-otr path#circle-fg{stroke:var(--cdlor-otr)}
body.item-hdv path#circle-fg{stroke:var(--cdlor-hdv)}

body.item-all path#logo-fg{fill:var(--cdlor-all)}
body.item-web path#logo-fg{fill:var(--cdlor-web)}
body.item-fto path#logo-fg{fill:var(--cdlor-fto)}
body.item-ils path#logo-fg{fill:var(--cdlor-ils)}
body.item-otr path#logo-fg{fill:var(--cdlor-otr)}
body.item-hdv path#logo-fg{fill:var(--cdlor-hdv)}

/* Contenido */
div.main-container{display:flex;width:100%;flex-direction:column}
div.main-wrapper{position:relative}
div.home-content-wrapper,article{display:flex;flex-direction:row;flex-wrap:wrap;align-items:flex-start;justify-content:space-between}

main{opacity:1;order:1;margin:50px auto 84px;width:100%;position:relative;transition:all 1s var(--trans-cbk)}
div.loading main,div.unload main{opacity:0;margin-top:300px}
div.loaded main{opacity:1;margin-top:24px}
header{width:100%}

body.home-page h1,body.home-page h3,body.home-page hr{display:none}
h1,h2,h3{text-align:left;color:var(--color-txt)}
h1{font-size:175%;line-height:1.25;font-weight:bold}
h3{line-height:1.5;font-weight:normal;font-size:105%}
h3 em{font-family:"Affogato-Medium",sans-serif}
h3.title-web em{color:var(--color-web)}
h3.title-fto em{color:var(--color-fto)}
h3.title-ils em{color:var(--color-ils)}
h3.title-otr em{color:var(--color-otr)}

body.item-all h3.title-web,body.item-all h3.title-fto,body.item-all h3.title-ils,body.item-all h3.title-otr,
body.item-web h3.title-all,body.item-web h3.title-fto,body.item-web h3.title-ils,body.item-web h3.title-otr,
body.item-fto h3.title-all,body.item-fto h3.title-web,body.item-fto h3.title-ils,body.item-fto h3.title-otr,
body.item-ils h3.title-all,body.item-ils h3.title-web,body.item-ils h3.title-fto,body.item-ils h3.title-otr,
body.item-otr h3.title-all,body.item-otr h3.title-web,body.item-otr h3.title-fto,body.item-otr h3.title-ils,
body.item-hdv h3.title-all,body.item-hdv h3.title-web,body.item-hdv h3.title-fto,body.item-hdv h3.title-ils,body.item-hdv h3.title-otr{display:none}

svg.icon{vertical-align:-.5px;width:32px;height:32px}

/* Ítems en la página inicial */
div.grid{padding:0 16px}
div.grid>a{margin:0 0 16px;display:inline-block;position:relative;overflow:hidden;line-height:0}
div.grid>a:after{content:'';width:100%;height:100%;position:absolute;top:100%;left:0;right:0;transition:transform .5s var(--trans-cbk)}
div.grid>a:hover:after{transform:translateY(-100%)}
div.grid a.item-web:before,div.grid a.item-web:after{background-color:var(--color-web)}
div.grid a.item-fto:before,div.grid a.item-fto:after{background-color:var(--color-fto)}
div.grid a.item-ils:before,div.grid a.item-ils:after{background-color:var(--color-ils)}
div.grid a.item-otr:before,div.grid a.item-otr:after{background-color:var(--color-otr)}
div.grid img{width:100%;height:auto}

div.grid svg.icon{position:absolute;display:block;top:0;bottom:0;left:0;right:0;margin:auto;z-index:2;opacity:0;transition:opacity .5s ease-out}
div.grid a:hover svg.icon{opacity:1}

div.grid a.item-web svg.icon{stroke:var(--cdlor-web)}
div.grid a.item-fto svg.icon{stroke:var(--cdlor-fto)}
div.grid a.item-ils svg.icon{stroke:var(--cdlor-ils)}
div.grid a.item-otr svg.icon{stroke:var(--cdlor-otr)}

/* El menú */
body.scrolled nav{position:fixed;width:100%;top:0;background-color:var(--color-bck);z-index:2}
nav ul{list-style:none;margin:0;padding:0}
body:not(.home-page) nav ul{display:none}
nav li{display:inline-block;float:left;width:20%;margin:0}
nav a{display:block;width:100%;height:64px;position:relative;margin:0}
nav a,nav a *{transition:all 250ms ease-out}
nav a:before{content:'';position:absolute;display:block;width:0;height:1px;bottom:0;left:0;right:0;margin:auto;transition:all 250ms ease-out}
nav a.nav-filter-all:before{background-color:var(--color-all)}
nav a.nav-filter-web:before{background-color:var(--color-web)}
nav a.nav-filter-fto:before{background-color:var(--color-fto)}
nav a.nav-filter-ils:before{background-color:var(--color-ils)}
nav a.nav-filter-otr:before{background-color:var(--color-otr)}
nav div.icon-nav-filter{display:block;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:32px;height:32px}
nav svg.icon{stroke:var(--color-txt);opacity:.35}
nav a:hover svg.icon,nav a.nav-filter-active svg.icon{opacity:1}
nav a.nav-filter-all:hover svg.icon{stroke:var(--color-all)}
nav a.nav-filter-web:hover svg.icon{stroke:var(--color-web)}
nav a.nav-filter-fto:hover svg.icon{stroke:var(--color-fto)}
nav a.nav-filter-ils:hover svg.icon{stroke:var(--color-ils)}
nav a.nav-filter-otr:hover svg.icon{stroke:var(--color-otr)}
ul.filter-menu a>span{display:none;color:var(--color-txt);font-size:100%}
nav a.nav-filter-active{pointer-events:none}

div.logo-wrapper{order:1;display:flex;flex-basis:100%;flex-direction:row;justify-content:flex-start;margin:0 auto 16px}
div.logo-wrapper>a{order:1;flex-shrink:0;flex-basis:72px;margin:0 auto}
div.logo-wrapper path{transition:all .5s var(--trans-cbk);fill:var(--color-txt)}
body.item-all div.logo-wrapper a:hover path{fill:var(--color-all)}
body.item-web div.logo-wrapper a:hover path{fill:var(--color-web)}
body.item-fto div.logo-wrapper a:hover path{fill:var(--color-fto)}
body.item-ils div.logo-wrapper a:hover path{fill:var(--color-ils)}
body.item-otr div.logo-wrapper a:hover path{fill:var(--color-otr)}
body.item-hdv div.logo-wrapper a:hover path{fill:var(--color-hdv)}

/* Footer */
footer{display:block;z-index:2;width:100%;margin:0;order:2;position:fixed;bottom:0;left:0;right:0;background-color:var(--color-bck);border-top:1px dashed #bcb7bf}
div.footer-wrapper{display:block;width:100%;margin:16px auto}
div.footer-wrapper:after{content:'';display:table;width:100%;height:0;margin:0;clear:both}
div.footer-links{display:block;text-align:center}
footer a{display:inline-block;margin:0 16px;width:32px;height:32px;text-decoration:none}
footer svg{display:block;stroke:var(--color-txt);opacity:.75;transition:opacity .25s var(--trans-cbk)}
footer a:hover svg{opacity:1}
footer span{display:block;text-align:center;font-size:75%;width:200%;height:auto;margin:8px auto 0 -50%;color:var(--color-txt)}
footer a:hover span{color:#26202a;text-decoration:underline}
body.biop-page a.footer-link-cv,
body:not(.item-page) a.footer-link-gb,
body.item-page a.footer-link-hm,
body.home-page a.footer-link-hm,
footer hr
{display:none}

/* Detalle */
article{margin:0 16px 24px}
svg.logo-item{transition:all .5s var(--trans-cbk)}
article h1:after{content:'.'}
article h2{order:2;flex-shrink:0;flex-grow:2;font-weight:normal;font-size:100%;letter-spacing:0.375ex;text-transform:uppercase;line-height:1.5em;text-align:right}
article a{font-family:"Affogato-Medium",sans-serif;color:var(--color-txt);text-decoration:underline;text-decoration-skip:ink;text-decoration-style:dashed;outline:0;transition:color 500 ms ease-out}
body.item-web article a{text-decoration-color:var(--color-web)}
body.item-fto article a{text-decoration-color:var(--color-fto)}
body.item-ils article a{text-decoration-color:var(--color-ils)}
body.item-otr article a{text-decoration-color:var(--color-otr)}
body.item-hdv article a{text-decoration-color:var(--color-hdv)}
article a:hover,article a:visited,article a:active{text-decoration:none}
article p{margin:1em 0 0;font-size:100%;line-height:1.5;color:var(--color-txt)}
article p+p{margin:.75em 0 0}
div.item-details>p:last-of-type:after{content:'';width:1ex;height:1ex;display:inline-block;margin-left:.5ex}
body.item-web div.item-details>p:last-of-type:after{background-color:var(--color-web)}
body.item-fto div.item-details>p:last-of-type:after{background-color:var(--color-fto)}
body.item-ils div.item-details>p:last-of-type:after{background-color:var(--color-ils)}
body.item-otr div.item-details>p:last-of-type:after{background-color:var(--color-otr)}
body.item-hdv div.item-details>p:last-of-type:after{background-color:var(--color-hdv)}

div.item-img{order:2;margin-bottom:24px;position:relative;z-index:1;transform:translateZ(0);backface-visibility:hidden;will-change:width}
div.item-txt{display:flex;flex-direction:column;order:3}
div.item-details>a{display:flex;position:relative;margin:2em 0 0;text-decoration:none;overflow:hidden;align-items:stretch;flex-direction:row;justify-content:center}
div.item-details>a:before{content:'';display:block;position:absolute;width:64px;height:100%;top:0;bottom:0;left:0;transition:all .5s var(--trans-cbk);z-index:0}
div.item-details>a:hover:before{width:100%}
div.item-details>a>span,div.item-details>a em{transition:all .5s var(--trans-cbk)}
div.item-details>a>span{word-wrap:break-word;font-size:100%;z-index:1;display:flex;order:2;flex-grow:2;flex-direction:column;justify-content:space-around;padding-left:16px}
div.item-details>a>svg{order:1;z-index:1;stroke:var(--color-bck);flex-basis:32px;margin:16px}
body.item-web div.item-details>a:before{background-color:var(--color-web)}
body.item-fto div.item-details>a:before{background-color:var(--color-fto)}
body.item-ils div.item-details>a:before{background-color:var(--color-ils)}
body.item-otr div.item-details>a:before{background-color:var(--color-otr)}
body.item-hdv div.item-details>a:before{background-color:var(--color-hdv)}
body.item-web div.item-details>a>span{color:var(--color-web)}
body.item-fto div.item-details>a>span{color:var(--color-fto)}
body.item-ils div.item-details>a>span{color:var(--color-ils)}
body.item-otr div.item-details>a>span{color:var(--color-otr)}
body.item-hdv div.item-details>a>span{color:var(--color-hdv)}
body.item-web div.item-details>a:hover>span,body.item-fto div.item-details>a:hover>span,body.item-ils div.item-details>a:hover>span,body.item-otr div.item-details>a:hover>span,body.item-hdv div.item-details>a:hover>span{color:var(--color-bck)}

div.item-cat-icon{float:left;display:inline;position:relative;margin-right:16px;margin-top:calc(1em + 10px);border-width:0 1px 0 0;border-style:dashed}
div.item-cat-icon svg{margin-right:16px;stroke:var(--color-txt);opacity:.75;vertical-align:0}
body.item-web div.item-cat-icon{border-color:var(--color-web)}
body.item-fto div.item-cat-icon{border-color:var(--color-fto)}
body.item-ils div.item-cat-icon{border-color:var(--color-ils)}
body.item-otr div.item-cat-icon{border-color:var(--color-otr)}

article blockquote,article blockquote>p{transition:all .25s var(--trans-cbk)}
article blockquote{margin:2em 0 0;display:inline-block;position:relative;border-width:0 0 0 1px;border-style:dashed}
body.item-web article blockquote{border-color:var(--color-web)}
body.item-fto article blockquote{border-color:var(--color-fto)}
body.item-ils article blockquote{border-color:var(--color-ils)}
body.item-otr article blockquote{border-color:var(--color-otr)}
article blockquote>p{font-size:90%;opacity:.5;margin:0 0 0 1.5em}
div.item-details>a:hover+blockquote>p{opacity:1}

/* Galería de imágenes en el detalle */
ul.slider{position:relative;z-index:1;overflow:hidden}
ul.slider:before{content:'mobile';display:none}
ul.slider li{position:absolute;top:0;left:0;z-index:1;height:100%;width:100%;transform:translateX(100%);transition:transform 0.3s}
ul.slider li>img{display:block;width:100%}
ul.slider li>span{display:none;margin:20px 0;color:#8a969b;line-height:1.375em;font-size:90%}
article.slider-active ul.slider li>span{display:block}
ul.slider li.selected{position:relative;z-index:2;transform:translateX(0)}
ul.slider li.move-left{transform:translateX(-100%)}

ul.slider-navigation{display:none}
ul.slider-navigation li{margin-left:32px}
ul.slider-navigation a{display:block}
ul.slider-navigation path{stroke:#968f9b}
body.item-web ul.slider-navigation a:hover path{stroke:var(--color-web)}
body.item-fto ul.slider-navigation a:hover path{stroke:var(--color-fto)}
body.item-ils ul.slider-navigation a:hover path{stroke:var(--color-ils)}
body.item-otr ul.slider-navigation a:hover path{stroke:var(--color-otr)}
body.item-hdv ul.slider-navigation a:hover path{stroke:var(--color-otr)}
article.slider-active ul.slider-navigation a{opacity:1;transition:opacity .25s ease-out}
article.slider-active ul.slider-navigation a.inactive{opacity:.25;pointer-events:none}

ul.slider-pagination{position:relative;z-index:2;text-align:center;display:block;width:100%;margin:16px 0 0}
ul.slider-pagination li{display:inline-block;margin:0 8px}
ul.slider-pagination li.selected a{background:var(--color-bck)}
ul.slider-pagination a{display:block;height:10px;width:10px;border-radius:50%;border-width:1px;border-style:solid;border-color:var(--color-bck);background-color:rgba(255,255,255,0);overflow:hidden;text-indent:100%;white-space:nowrap}
body.item-web ul.slider-pagination li.selected a{background-color:var(--color-web)}
body.item-fto ul.slider-pagination li.selected a{background-color:var(--color-fto)}
body.item-ils ul.slider-pagination li.selected a{background-color:var(--color-ils)}
body.item-otr ul.slider-pagination li.selected a{background-color:var(--color-otr)}
body.item-web ul.slider-pagination a{border-color:var(--color-web)}
body.item-fto ul.slider-pagination a{border-color:var(--color-fto)}
body.item-ils ul.slider-pagination a{border-color:var(--color-ils)}
body.item-otr ul.slider-pagination a{border-color:var(--color-otr)}

/* Avatar */
svg.avatar{width:100%;height:auto;display:block;margin:0 auto}
svg.avatar path{stroke-width:0;stroke:none}
svg.avatar path.a{fill:#3c383f}
svg.avatar path.b{fill:var(--color-txt)}
svg.avatar path.c{fill:#7d7483}
svg.avatar path.d{fill:#a39ca7}
svg.avatar path.e{fill:#b0aab3}
svg.avatar path.f{fill:#c9c5cb}
svg.avatar path.g{fill:#e2e0e3}

/* Media queries */

@media only screen and (min-width:640px){
div.grid{-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:20px;-moz-column-gap:20px;column-gap:20px}
}

@media only screen and (min-width:640px) and (max-width:1023px){
main{margin:50px auto 120px}
div.grid{text-align:center}
div.grid img{max-width:480px}
div.footer-wrapper{width:unset;margin:32px}
div.item-txt{flex-direction:row}
article h1{flex-basis:240px}
div.item-cat-icon{margin-top:10px}
article p{font-size:100%;line-height:1.625;margin:0 0 .75em}
article p+p{margin:0}
}

@media only screen and (min-width:1024px){
main{order:2}
div.loaded main{margin-top:50px}
div.main-container{flex-direction:row}
div.main-wrapper{max-width:960px;margin:50px auto}
header,div.item-txt{flex-basis:320px}
header{width:320px;position:fixed;top:100px}
section.grid-wrap,div.item-img{order:2;flex-basis:610px;margin-left:30px}
section.grid-wrap{max-width:1260px}
body.scrolled main{margin:0 auto}
body.scrolled ul.grid{margin-top:160px}
body.scrolled div.grid{margin-top:160px}

body.noscroll nav{height:128px}
body.scrolled nav{width:610px;height:96px}

nav ul{float:right}
nav li{display:inline;float:left;width:32px;margin:0 0 0 40px}
nav a{width:32px}
body.noscroll nav a{height:96px}
body.scrolled nav a{height:64px}
nav div.icon-nav-filter{display:block;position:absolute;bottom:auto;margin:auto}
body.noscroll div.icon-nav-filter{top:8px}
body.scrolled div.icon-nav-filter{top:32px}
ul.filter-menu a>span{position:absolute;display:block;width:200%;bottom:-12px;left:-50%;right:-50%;text-align:center;opacity:0;pointer-events:none}
nav a:hover:before{width:32px}
body.noscroll a.nav-filter-active:before{width:0}
body.scrolled a.nav-filter-active:before{width:32px}
body.scrolled a.nav-filter-active div.icon-nav-filter,nav a.nav-filter-active span,nav a:hover span,nav a:hover div.icon-nav-filter{opacity:1}
nav a:before{bottom:-16px}

div.logo-wrapper{margin:0 0 78px}
div.logo-wrapper>a{flex-basis:83px;margin:0}
div.logo-wrapper>h2{margin:4px 0 18px 2em;padding-left:1em;border-left:1px dashed #c6c0ca}
body.scrolled:not(.home-page) div.logo-wrapper{position:fixed;z-index:2;top:0;width:960px;background-color:var(--color-bck)}
body.scrolled:not(.home-page) div.logo-wrapper>a,body.scrolled:not(home-page) div.logo-wrapper>ul{margin:16px 0}
body.scrolled:not(.home-page) svg.logo-item{width:62px}
svg.logo-item{width:83px;top:64px}
body.noscroll nav a:hover div.icon-nav-filter{top:0}
body.scrolled nav a:hover div.icon-nav-filter{top:28px}
nav a.nav-filter-active{display:block}
body.noscroll nav a:hover span,body.noscroll nav a.nav-filter-active span{bottom:20px}
body.scrolled nav a.nav-filter-active span,body.scrolled nav a:hover span{opacity:0}

body.home-page h1,body.home-page h3{opacity:1;display:block;clear:both;transition:all .5s var(--trans-cbk)}
h1{font-size:300%}
body.home-page header hr{display:block;height:0;width:4em;float:left;clear:both;margin:24px 0;border-width:1px 0 0 0;border-style:dashed;border-color:#bcb7bf}
ul.grid{-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:20px;-moz-column-gap:20px;column-gap:20px}
div.grid{padding:0}

article{margin:0}
body.noscroll article{margin-top:0}
body.scrolled article{margin-top:200px}
body.scrolled article.slider-active{margin-top:170px}
body.scrolled article h2{margin:22px 0}
div.item-cat-icon{margin-top:calc(2em + 10px)}
article h2{flex-grow:1;text-align:left;transition:all .5s ease-out}
article p{font-size:112.5%;line-height:1.75;margin:2em 0 0}
article.slider-active div.item-img{order:1;flex-basis:100%;margin-left:0;margin-bottom:80px}
article.slider-active div.item-txt{order:2;flex-basis:100%;flex-direction:row}
article.slider-active div.item-txt>h1{order:1;flex-basis:320px;flex-shrink:0}
article.slider-active div.item-details{order:2;flex-grow:1}
article.slider-active div.item-cat-icon{margin-top:10px}
article.slider-active div.item-details>p{margin:0 0 1em}

footer{width:80px;height:100%;order:1;position:relative;bottom:unset;left:unset;right:unset;background-color:transparent;border-top:none}
div.footer-wrapper{display:block;overflow:hidden;;width:80px;height:100%;position:fixed;top:0;bottom:0;left:0;margin:0;border-width:0 1px 0 0;border-style:dashed;border-color:#d6d0da}
footer,footer>div{transition:width .5s var(--trans-cbk)}
footer:hover{width:320px}
footer:hover>div{width:240px}
div.footer-links{width:80px;height:168px;position:absolute;top:238px}
footer a{display:block;margin:0 0 24px 24px;width:296px}
footer hr{width:32px;height:0;display:block;margin:24px;border-width:1px 0 0;border-style:dashed;border-color:#bcb7bf}
footer svg.icon{display:inline;float:left;margin-left:0}
footer span{display:inline;font-size:100%;overflow:hidden;float:left;font-family:"Affogato-Medium",sans-serif;text-align:left;line-height:32px;height:32px;color:#86808a;margin:0;margin-left:24px;width:240px}
div.item-img,div.item-txt{transition:flex-basis .5s var(--trans-cbk)}
div.item-img,div.item-txt{transition:flex-basis .5s var(--trans-cbk)}
div.item-txt{order:2}
div.item-img{order:3}

ul.slider{cursor:pointer}
ul.slider:before{content:'';display:block;position:absolute;top:100%;left:0;right:0;z-index:4;margin:auto;height:100%;width:100%;transition:transform .5s var(--trans-cbk)}
body.item-web article ul.slider:before{background-color:var(--color-web)}
body.item-fto article ul.slider:before{background-color:var(--color-fto)}
body.item-ils article ul.slider:before{background-color:var(--color-ils)}
body.item-otr article ul.slider:before{background-color:var(--color-otr)}
ul.slider:hover:before{transform:translateY(-100%)}
article.slider-active ul.slider{cursor:auto}
article.slider-active ul.slider svg.icon,article.slider-active ul.slider:before{display:none}

ul.slider svg.icon{position:absolute;display:block;top:0;bottom:0;left:0;right:0;margin:auto;z-index:5;opacity:0;transition:opacity .5s ease-out}
ul.slider:hover svg.icon{opacity:1}

body.item-web ul.slider svg.icon{stroke:var(--color-web)}
body.item-fto ul.slider svg.icon{stroke:var(--color-fto)}
body.item-ils ul.slider svg.icon{stroke:var(--color-ils)}
body.item-otr ul.slider svg.icon{stroke:var(--color-otr)}

ul.slider-navigation{order:3;flex-grow:2;display:flex;flex-direction-row;justify-content:flex-end}
ul.slider-navigation,ul.slider-pagination li{opacity:0;transition:opacity 0.4s 0s}
article.slider-active ul.slider-navigation,article.slider-active ul.slider-pagination li{opacity:1}
ul.slider-pagination{margin:0}
ul.slider-pagination a{width:16px;height:16px}
article.slider-active ul.slider-navigation li,article.slider-active ul.slider-pagination{opacity:1;transition:opacity 0.4s 0.4s}
}

@keyframes waiting{
10%{transform: translateX(3px) rotate(2deg)}
20%{transform: translateX(-3px) rotate(-2deg)}
30%{transform: translateX(3px) rotate(2deg)}
40%{transform: translateX(-3px) rotate(-2deg)}
50%{transform: translateX(2px) rotate(1deg)}
60%{transform: translateX(-2px) rotate(-1deg)}
70%{transform: translateX(2px) rotate(1deg)}
80%{transform: translateX(-2px) rotate(-1deg)}
90%{transform: translateX(1px) rotate(0)}
100%{transform: translateX(-1px) rotate(0)}
}

