@font-face{font-family:'magra';src:url('../fonts/magra-bold-webfont.eot');src:url('../fonts/magra-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/magra-bold-webfont.woff2') format('woff2'),url('../fonts/magra-bold-webfont.woff') format('woff'),url('../fonts/magra-bold-webfont.ttf') format('truetype'),url('../fonts/magra-bold-webfont.svg#magrabold') format('svg');font-weight:bold;font-style:normal}
@font-face{font-family:'magra';src:url('../fonts/magra-regular-webfont.eot');src:url('../fonts/magra-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/magra-regular-webfont.woff2') format('woff2'),url('../fonts/magra-regular-webfont.woff') format('woff'),url('../fonts/magra-regular-webfont.ttf') format('truetype'),url('../fonts/magra-regular-webfont.svg#magraregular') format('svg');font-weight:normal;font-style:normal}

@-webkit-keyframes opacity{0%{bottom:0}100%{bottom:100%}}
@-moz-keyframes opacity{0%{bottom:0}100%{bottom:100%}}
@keyframes opacity{0%{bottom:0}100%{bottom:100%}}
@keyframes display{0%{height:100%}100%{height:0}}

/* Generales */
*{-moz-transition:all .25s ease-out;-webkit-transition:all .25s ease-out;-ms-transition:all .25s ease-out;-o-transition:all .25s ease-out;-khtml-transition:all .25s ease-out;transition:all .25s ease-out}
body{position:relative;font-family:'magra',Arial,sans-serif;background-color:#434650;overflow-y:hidden}
html,body,div.main-container{width:100%;height:100%;display:block}
html,body,div{box-sizing:border-box}
div.main-container{clear:both;width:100%;height:100%}
div.main-container>div{height:100%}
div.menu{width:12rem;background-color:#434750;float:left}
div.contenido{background-color:#fff;overflow:hidden;position:relative}
div.contenido-wrapper{border-width:2rem;border-style:solid;border-color:transparent;width:100%;height:100%}

div.bordes{position:fixed;display:flex;width:100%;height:100%;z-index:1;pointer-events:none}
div.bordes>div{position:absolute;display:block;margin:0;border:0;background-color:#434650}
div.borde-t,div.borde-b{width:100%;height:1rem}
div.borde-l,div.borde-r{width:1rem;height:100%}
div.borde-t,div.borde-l,div.borde-r{top:0}
div.borde-b,div.borde-l,div.borde-r{bottom:0}
div.borde-l,div.borde-t,div.borde-b{left:0}
div.borde-r,div.borde-t,div.borde-b{right:0}

/* Navegación */
nav.navigation{height:100%;position:relative}
nav.navigation>ul{list-style:none;margin:-164px -24px 0 0;position:absolute;z-index:2;right:0;top:50%}
nav.navigation button{min-height:48px;width:100%;color:#fff;display:block;text-decoration:underline;text-decoration-color:#5f6673;text-align:right;line-height:48px;background-color:transparent;border:0}
nav.navigation button:hover,nav.navigation button.active{font-weight:bold;text-decoration-color:#fff}
/*nav.navigation span.icono-menu{width:32px;height:32px;float:right;display:inline;margin:0 0 0 10px;background-color:#5f6673;background-image:url(../img/iconos.png);background-image:url(../img/iconos.svg);background-repeat:no-repeat;border-width:8px;border-style:solid;border-color:#5f6673}*/
nav.navigation span.icono-menu{width:32px;height:32px;float:right;display:inline;margin:0 0 0 10px;background-color:#434750;background-image:url(../img/iconos.png);background-image:url(../img/iconos.svg);background-repeat:no-repeat;border-width:8px;border-style:solid;border-color:#434750}
nav.navigation button:hover span.icono-menu,nav.navigation button.active span.icono-menu{background-color:#fff;border-color:#fff}

/* Rejilla */
li#menu-tdo span.icono-menu{background-position:0 0}
li#menu-web span.icono-menu{background-position:-32px 0}
li#menu-fto span.icono-menu{background-position:-64px 0}
li#menu-ils span.icono-menu{background-position:-96px 0}
li#menu-otr span.icono-menu{background-position:-128px 0}
li#menu-hdv span.icono-menu{background-position:-160px 0}
li#menu-tdo button.active span.icono-menu,li#menu-tdo button:hover span.icono-menu{background-position:0 -32px}
li#menu-web button.active span.icono-menu,li#menu-web button:hover span.icono-menu{background-position:-32px -32px}
li#menu-fto button.active span.icono-menu,li#menu-fto button:hover span.icono-menu{background-position:-64px -32px}
li#menu-ils button.active span.icono-menu,li#menu-ils button:hover span.icono-menu{background-position:-96px -32px}
li#menu-otr button.active span.icono-menu,li#menu-otr button:hover span.icono-menu{background-position:-128px -32px}
li#menu-hdv button.active span.icono-menu,li#menu-hdv button:hover span.icono-menu{background-position:-160px -32px}

a.item{border-width:.5rem;border-style:solid;margin:1rem;width:240px;height:240px;position:relative;overflow:hidden}
a.item:hover,a.item:focus,a.item:active{border-color:#fff}
a.item-web{border-color:#f26522}
a.item-fto{border-color:#86cfcf}
a.item-ils{border-color:#faae1a}
a.item-otr{border-color:#6baf44}
a.item-hdv{border-color:#703e1a}

a.item:before,a.item:after{content:'';display:block;position:absolute;left:0;right:0;margin:auto}
a.item:before{top:100%;width:100%;height:100%;opacity:.75}
a.item-web:before{background-color:#f26522}
a.item-fto:before{background-color:#86cfcf}
a.item-ils:before{background-color:#faae1a}
a.item-otr:before{background-color:#6baf44}
a.item-hdv:before{background-color:#703e1a}
a.item:hover:before{top:0}
a.item:after{top:0;bottom:100%;width:32px;height:32px;background-image:url(../img/iconos.png);background-image:url(../img/iconos.svg);background-repeat:no-repeat;background-position:-256px 0;opacity:0}
a.item:hover:after{bottom:0;opacity:1}

/* Contacto */
div.contacto{display:block;position:absolute;width:9rem;height:32px;bottom:2rem;left:2rem;right:0;text-align:center}
div.contacto>a{width:32px;height:32px;display:inline-block;margin:0 10px;background-image:url(../img/iconos.png);background-image:url(../img/iconos.svg);background-repeat:no-repeat}
a.contacto-fb{background-position:-192px 0}
a.contacto-em{background-position:-224px 0}
a.contacto-fb:hover{background-position:-192px -32px}
a.contacto-em:hover{background-position:-224px -32px}

/* Progreso al inicio */
div.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}
div.pace-inactive{animation:display .5s 1}
div.pace.pace-active{width:100%;height:100%;background-color:#434650;display:block}
div.pace,div.pace-activity{width:100%;display:block;position:relative}
div.pace-inactive>div.pace-activity{animation:opacity .5s 1}
div.pace.pace-inactive>div.pace-progress{display:none}
div.pace .pace-progress{position:fixed;z-index:5;top:0;right:0;bottom:0;left:0;height:5rem;width:5rem;margin:auto;-webkit-transform:translate3d(0, 0, 0)!important;-ms-transform:translate3d(0, 0, 0)!important;transform:translate3d(0, 0, 0)!important}
div.pace .pace-progress:after{display:block;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;content:attr(data-progress-text);font-weight:100;font-size:5rem;line-height:1;text-align:center;color:#fff}
