@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i');

/* Reset */
*,*:after,*:before{box-sizing:border-box}
:selection{background-color:transparent}
:-moz-selection{background-color:transparent}
[hidden]{display:none}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}
ol,ul{list-style:none}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizelegibility}
a:hover,a:active,a:focus{outline:0}
b,strong{font-weight:bold}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}

body,html{font-size:100%;padding:0;margin:0}
body{font-family:'Fira Sans',sans-serif;color:#515151;background-color:#fff}

a{color:#00b4ff;text-decoration:none}
a:hover{color:#515151}

html,body,div.container{position:relative;width:100%;height:auto}

div.container{display:flex;flex-direction:column;flex:1}
header,div.content-wrapper{padding:5.572240769vw}
div.content-compact-wrapper{padding:3.4439065322vw 5.572240769vw}

main{padding-top:23.6064912503vw;background-color:#00b4ff;color:#fff;text-align:center;flex:0 0 100%;background-image:url(../img/fondo.jpg);background-position:50% 50%;background-blend-mode:soft-light}
main h1{font-weight:bold;font-size:2.618em;margin:0;width:100%;color:#fff}
main h2{font-size:1;margin:5.572240769% 0 0;font-weight:normal;line-height:1;color:#fff}
main h2+h2{margin:1.3154105296% 0 0}
a.action-button{display:inline-block;margin:5.572240769% 0 0;border:1px solid #fff;padding:2.1283342369%;color:#fff;font-size:1em;font-weight:bold;text-transform:uppercase;letter-spacing:0.09em;transition:background-color .25s ease-out,color .25s ease-out}
a.action-button:hover{background-color:#fff;color:#00b4ff}

aside{background-color:#eee;flex:0 0 38.195302843%}
nav{background-color:#fff;min-height:38.195302843vw}

header{display:flex;flex-direction:row;position:absolute;top:0;left:0;right:0;padding-bottom:0;z-index:1}
header svg{width:61.804697157%}
div.pentagono-link-wrapper{flex:2}
div.uandes-link-wrapper{flex:1}
div.pentagono-link-wrapper svg{fill:#fff}
div.uandes-link-wrapper{text-align:right}

/* Navegación */
nav{padding-top:5.572240769vw}
nav ul{display:flex;flex-direction:row;flex-wrap:wrap}
nav li{list-style:none;flex:0 1 100%}
nav a{display:block;text-align:left;cursor:pointer;margin-bottom:9.0165708237%}
div.nav-icon-wrapper{display:inline;float:left;margin:0 5.572240769% 0 0}
nav svg{fill:none;stroke:#515151;width:16px;height:16px;transition:fill .25s ease-out}
nav a:hover svg{fill:#00b4ff}

div.about-pentagono{text-align:center}
div.text-wrapper{display:block}
div.text-wrapper p{color:#515151;font-size:1em;line-height:1.618em}
div.text-wrapper a{text-decoration:underline;cursor:pointer}

footer{background-color:#515151;display:block;clear:both}
div.footer-wrapper{width:100%}
div.footer-wrapper p{color:#fff}

/** PÁGINA DE DETALLE **/
body.detail-page main{background-image:none;background-color:#fff;text-align:left}
body.detail-page div.pentagono-link-wrapper svg{fill:#00b4ff}
body.detail-page main h1{color:#515151;font-size:2.618em;flex:0 0 100%}
body.detail-page main>div.content-wrapper{flex-direction:column}
div.detail-content{color:#515151;margin-left:2.618em}
div.detail-content hr{width:2.618em;height:0;border-width:0.236em 0 0 0;border-style:solid;border-color:#00b4ff;margin:2.618em 0 1.618em}
div.detail-content h2{color:#00b4ff;font-weight:bold}
div.detail-content p,div.detail-content li{line-height:1.618em}
div.detail-content p,div.detail-content ul{margin-top:2.618em}
div.detail-content p+p,div.detail-content ul+p,div.detail-content p+ul{margin-top:1.618em}
div.detail-content ul{list-style:square outside none}
div.detail-content i{font-style:italic}

/** RESPONSIVE **/

@media only screen and (max-width:1023px), (min-width:1279px){
nav li{list-style:none;flex:0 0 33.3333%}
nav a{text-align:center;margin-bottom:23.6064912503%}
div.nav-icon-wrapper{display:block;margin:0 auto 5.572240769%;float:none}
nav svg{width:32px;height:32px}
}

@media only screen and (max-width:479px){
nav li{flex:0 0 50%}
}

@media only screen and (min-width:640px){
header svg{width:38.195302843%}
main{text-align:left}
main>div.content-wrapper,nav>div.content-compact-wrapper{padding-top:0}
main h1{font-size:4.236em;width:61.804697157%}
main h2{font-size:1.618em}
}

@media only screen and (min-width:640px) and (max-width:1023px){
main{padding-top:14.5888115927vw}
main>div.content-wrapper{display:flex;flex-direction:row;flex:1}
main h1{flex:0 0 61.804697157%}
main h2{font-size:1em}
div.request-monitoring{flex:0 0 38.195302843%}
}

@media only screen and (min-width:1024px){
html,body,div.container{min-height:100%}
main,nav{padding-top:23.6064912503vh}
div.container{flex-direction:row}
main{flex:0 0 61.804697157%}
div.about-pentagono{text-align:left}
div.footer-wrapper{width:61.804697157%}
}

@media only screen and (max-width:1023px){
body.detail-page nav{background-color:#00b4ff}
body.detail-page nav span{color:#fff}
body.detail-page nav a:hover svg{fill:#fff}
}
