@font-face{font-family:'Slabo-27px';src: url('../fonts/Slabo-27px.ttf.woff') format('woff'),url('../fonts/Slabo-27px.ttf.svg#Slabo-27px') format('svg'),url('../fonts/Slabo-27px.ttf.eot'),url('../fonts/Slabo-27px.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal}
@font-face{font-family:'Raleway';src:url('../fonts/Raleway-Regular.eot');src:url('../fonts/Raleway-Regular.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-Regular.woff')format('woff'),url('../fonts/Raleway-Regular.ttf')format('truetype'),url('../fonts/Raleway-Regular.svg#Raleway')format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Raleway';src:url('../fonts/Raleway-Bold.eot');src:url('../fonts/Raleway-Bold.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-Bold.woff')format('woff'),url('../fonts/Raleway-Bold.ttf')format('truetype'),url('../fonts/Raleway-Bold.svg#Raleway-Bold')format('svg');font-weight:bold;font-style:normal}
@font-face{font-family:'Raleway-ExtraBold';src:url('../fonts/Raleway-ExtraBold.eot');src:url('../fonts/Raleway-ExtraBold.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-ExtraBold.woff')format('woff'),url('../fonts/Raleway-ExtraBold.ttf')format('truetype'),url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold')format('svg');font-weight:normal;font-style:normal} 
@font-face{font-family:'Raleway-ExtraLight';src:url('../fonts/Raleway-ExtraLight.eot');src:url('../fonts/Raleway-ExtraLight.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-ExtraLight.woff')format('woff'),url('../fonts/Raleway-ExtraLight.ttf')format('truetype'),url('../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight')format('svg');font-weight:normal;font-style:normal} 
@font-face{font-family:'Raleway-Heavy';src:url('../fonts/Raleway-Heavy.eot');src:url('../fonts/Raleway-Heavy.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-Heavy.woff')format('woff'),url('../fonts/Raleway-Heavy.ttf')format('truetype'),url('../fonts/Raleway-Heavy.svg#Raleway-Heavy')format('svg');font-weight:normal;font-style:normal} 
@font-face{font-family:'Raleway-Light';src:url('../fonts/Raleway-Light.eot');src:url('../fonts/Raleway-Light.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-Light.woff')format('woff'),url('../fonts/Raleway-Light.ttf')format('truetype'),url('../fonts/Raleway-Light.svg#Raleway-Light')format('svg');font-weight:normal;font-style:normal} 
@font-face{font-family:'Raleway-Medium';src:url('../fonts/Raleway-Medium.eot');src:url('../fonts/Raleway-Medium.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-Medium.woff')format('woff'),url('../fonts/Raleway-Medium.ttf')format('truetype'),url('../fonts/Raleway-Medium.svg#Raleway-Medium')format('svg');font-weight:normal;font-style:normal} 
@font-face{font-family:'Raleway-SemiBold';src:url('../fonts/Raleway-SemiBold.eot');src:url('../fonts/Raleway-SemiBold.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-SemiBold.woff')format('woff'),url('../fonts/Raleway-SemiBold.ttf')format('truetype'),url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold')format('svg');font-weight:normal;font-style:normal} 
@font-face{font-family:'Raleway-Thin';src:url('../fonts/Raleway-Thin.eot');src:url('../fonts/Raleway-Thin.eot?#iefix')format('embedded-opentype'),url('../fonts/Raleway-Thin.woff')format('woff'),url('../fonts/Raleway-Thin.ttf')format('truetype'),url('../fonts/Raleway-Thin.svg#Raleway-Thin')format('svg');font-weight:normal;font-style:normal} 
@font-face{font-family:'RalewayDots-Regular';src:url('../fonts/RalewayDots-Regular.eot');src:url('../fonts/RalewayDots-Regular.eot?#iefix')format('embedded-opentype'),url('../fonts/RalewayDots-Regular.woff')format('woff'),url('../fonts/RalewayDots-Regular.ttf')format('truetype'),url('../fonts/RalewayDots-Regular.svg#RalewayDots-Regular')format('svg');font-weight:normal;font-style:normal}

/* Reset */
 *,*::after,*::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
[hidden]{display:none}
html{font-family:'Raleway',sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
body{margin:0;background-color:#fff}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:0.67em 0}
b,strong{font-weight:bold}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
*,*::after,*::before{box-sizing:border-box}
html,body{height:100%}
html{font-size:62.5%}
body{font-size:1.6rem;font-family:"Open Sans",sans-serif;color:#4089a6;background-color:#283040;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

/* Borrar esta mierda cuando esté todo */
h1{color:#333;margin-bottom:1em;font-size:2.2rem}
.cd-btn{display:inline-block;padding:1.4em 1.6em;margin-bottom:2em;border-radius:50em;background-color:#283040;color:#ffffff;font-weight:bold;font-size:1.3rem;letter-spacing:1px;text-transform:uppercase;box-shadow:0 1px 4px rgba(0,0,0,0.1)}
.no-touch .cd-btn:hover{background-color:#323c50}
.cd-about .cd-btn{background-color:#4089a6}
/** Borrar esta mierda cuando esté todo **/

/* Dos bloques que cubren todo pa' lo de la animación */
body::after,body::before{content:'';height:50%;width:100%;position:fixed;left:0;background-color:#fff;z-index:1;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transition:-webkit-transform 0.4s 0.4s;-moz-transition:-moz-transform 0.4s 0.4s;transition:transform 0.4s 0.4s}
body::before{top:0;-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%)}
body::after{bottom:0;-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%);transform:translateY(100%)}
body.page-is-changing::after,body.page-is-changing::before{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);-webkit-transition:-webkit-transform 0.4s 0s;-moz-transition:-moz-transform 0.4s 0s;transition:transform 0.4s 0s}

main{height:100%;padding:0;margin:0}
main .cd-main-content{position:relative;height:100%;background-color:#fff}
main .cd-main-content>div{height:100%;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}

/* .cd-main-content basic style - index page */
main .cd-main-content.cd-index{display:table;width:100%}
main .cd-main-content.cd-index>div{display:table-cell;vertical-align:middle}
main p{
width:90%;
max-width:768px;
margin:3em auto;
font-size:1.4rem;
line-height:1.6;
color:#535966;
text-align:left;
}
@media only screen and (min-width:768px){
main{
padding:20px;
}
main.cd-index>div{
padding-top:200px;
}
main.cd-index>div{
padding-top:50px;
}
main p{
font-size:1.8rem;
line-height:2;
}
}

.cd-cover-layer{
/* layer that covers the content when the animation is triggered */
position:fixed;
left:50%;
top:50%;
bottom:auto;
right:auto;
-webkit-transform:translateX(-50%) translateY(-50%);
-moz-transform:translateX(-50%) translateY(-50%);
-ms-transform:translateX(-50%) translateY(-50%);
-o-transform:translateX(-50%) translateY(-50%);
transform:translateX(-50%) translateY(-50%);
height:calc(100% - 20px);
width:calc(100% - 20px);
opacity:0;
visibility:hidden;
background-color:#283040;
-webkit-transition:opacity 0.4s 0.4s,visibility 0s 0.8s;
-moz-transition:opacity 0.4s 0.4s,visibility 0s 0.8s;
transition:opacity 0.4s 0.4s,visibility 0s 0.8s;
}
.page-is-changing .cd-cover-layer{
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.3s 0s,visibility 0s 0s;
-moz-transition:opacity 0.3s 0s,visibility 0s 0s;
transition:opacity 0.3s 0s,visibility 0s 0s;
}
@media only screen and (min-width:768px){
.cd-cover-layer{
height:calc(100% - 40px);
width:calc(100% - 40px);
}
}

.cd-loading-bar{
/* this is the loding bar - visible while switching from one page to the following one */
position:fixed;
z-index:2;
left:50%;
top:50%;
height:2px;
width:90%;
background-color:#283040;
visibility:hidden;
-webkit-transition:visibility 0s 0.4s,-webkit-transform 0.4s 0s ease-in;
-moz-transition:visibility 0s 0.4s,-moz-transform 0.4s 0s ease-in;
transition:visibility 0s 0.4s,transform 0.4s 0s ease-in;
/* Force Hardware Acceleration */
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-transform:translateZ(0);
-moz-transform:translateZ(0);
-ms-transform:translateZ(0);
-o-transform:translateZ(0);
transform:translateZ(0);
-webkit-transform:translateX(-50%) translateY(-50%);
-moz-transform:translateX(-50%) translateY(-50%);
-ms-transform:translateX(-50%) translateY(-50%);
-o-transform:translateX(-50%) translateY(-50%);
transform:translateX(-50%) translateY(-50%);
}
.cd-loading-bar::before{
/* this is the progress bar inside the loading bar */
content:'';
position:absolute;
left:0;
top:0;
height:100%;
width:100%;
background-color:red;
/* Force Hardware Acceleration */
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-transform:translateZ(0);
-moz-transform:translateZ(0);
-ms-transform:translateZ(0);
-o-transform:translateZ(0);
transform:translateZ(0);
-webkit-transform:scaleX(0);
-moz-transform:scaleX(0);
-ms-transform:scaleX(0);
-o-transform:scaleX(0);
transform:scaleX(0);
-webkit-transform-origin:left center;
-moz-transform-origin:left center;
-ms-transform-origin:left center;
-o-transform-origin:left center;
transform-origin:left center;
}
.page-is-changing .cd-loading-bar{
visibility:visible;
-webkit-transform:translateX(-50%) translateY(-50%) scaleX(0.3);
-moz-transform:translateX(-50%) translateY(-50%) scaleX(0.3);
-ms-transform:translateX(-50%) translateY(-50%) scaleX(0.3);
-o-transform:translateX(-50%) translateY(-50%) scaleX(0.3);
transform:translateX(-50%) translateY(-50%) scaleX(0.3);
-webkit-transition:visibility 0s 0.3s,-webkit-transform 0.4s 0.4s;
-moz-transition:visibility 0s 0.3s,-moz-transform 0.4s 0.4s;
transition:visibility 0s 0.3s,transform 0.4s 0.4s;
}
.page-is-changing .cd-loading-bar::before{
-webkit-transform:scaleX(1);
-moz-transform:scaleX(1);
-ms-transform:scaleX(1);
-o-transform:scaleX(1);
transform:scaleX(1);
-webkit-transition:-webkit-transform 0.8s 0.8s ease-in;
-moz-transition:-moz-transform 0.8s 0.8s ease-in;
transition:transform 0.8s 0.8s ease-in;
}
@media only screen and (min-width:768px){
.cd-loading-bar{
width:calc(100% - 40px);
}
}

section.grid-wrap{clear:both;margin:0 auto;padding:0;max-width:1260px}
ul.grid{margin:50px auto;padding:0;list-style:none;min-height:500px}
html.js ul.grid{background-image:url(../img/loading.gif);background-repeat:no-repeat;background-position:50% 100px}
html.js ul.grid.loaded{background-image:none}

ul.grid>li{display:inline-block;overflow:hidden;width:314px;text-align:left;vertical-align:top}
html.js ul.grid>li{display:none;float:left}
html.js ul.grid.loaded>li{display:block}

/* Anchor and image */
ul.grid li>a,ul.grid li img{display:block;outline:none;border:none}
ul.grid li>a{position:relative;overflow:hidden;margin:10px;-webkit-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;-khtml-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
ul.grid li>a:before,ul.grid li>a:after{content:'';display:block;position:absolute;left:0;right:0;margin:auto}
ul.grid li>a:before{top:100%;width:100%;height:100%;-webkit-animation:normalPreview 500ms cubic-bezier(0.6,0.4,1) forwards;animation:normalPreview 500ms cubic-bezier(0.6,0.4,1) forwards}
ul.grid li>a:hover:before{-webkit-animation:hoverPreview 500ms cubic-bezier(0.6,0.4,1) forwards;animation:hoverPreview 500ms cubic-bezier(0.6,0.4,1) forwards}
ul.grid li>a:after{top:-32px;bottom:-25%;width:32px;height:32px;background-image:url(../img/iconos.png);background-image:url(../img/iconos.svg);background-repeat:no-repeat;background-position:-256px 0;opacity:0;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-o-transition:all .25s ease-out;-ms-transition:all .25s ease-out;-khtml-transition:all .25s ease-out;transition:all .25s ease-out}
ul.grid li>a:hover:after{bottom:-16px;opacity:1}

/* Curtain element */
div.curtain{position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
li.item-web>a:before,li.item-web div.curtain{background-color:#f26522}
li.item-fto>a:before,li.item-fto div.curtain{background-color:#86cfcf}
li.item-ils>a:before,li.item-ils div.curtain{background-color:#faae1a}
li.item-otr>a:before,li.item-otr div.curtain{background-color:#6baf44}
li.animate div.curtain{-webkit-animation:swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;animation:swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards}
div.curtain::after{top:-100%}

/* Hide image and show at half time */
html.js ul.grid li img{visibility:hidden}
html ul.grid li.shown img{visibility:visible}
ul.grid li.animate img{-webkit-animation:showMe 1.5s step-end forwards;animation:showMe 1.5s step-end forwards}

@-webkit-keyframes showMe{
from{visibility:hidden}
60%,100%{visibility:visible}
}
@keyframes showMe{
from{visibility:hidden}
60%,100%{visibility:visible}
}

@-webkit-keyframes swipeDown{
0%{}
50%,60%{-webkit-transform:translate3d(0,0,0)}
100%{-webkit-transform:translate3d(0,100%,0)}
}
@keyframes swipeDown{
0%{}
50%,60%{-webkit-transform:translate(0);transform:translate(0)}
100%{transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
}

@-webkit-keyframes normalPreview{
0%{top:0}
100%{top:100%}
}
@keyframes normalPreview{
0%{top:0}
100%{top:100%}
}
@-webkit-keyframes hoverPreview{
0%{top:100%}
100%{top:0}
}
@keyframes hoverPreview{
0%{top:100%}
100%{top:0}
}
